
.app{
  font-family: 'Roboto', sans-serif;
}
.active{
  color: #FFDE00
}
.inactive{
  color: white
}
.inactiveMobile{
  color: black
}
.activeMobile{
  color: #FF0000
}
.bgFooter{
  background-color: #CC0000;
}
.heightContainer{
  height: 90vh;
}